// Colors
$white: #ffffff;
$white-soft: #F5F5F5;
$white-two: #F2EAD3;
$white-three: #DFD7BF;
$brown: #3F2305;
$dark-brown: #2B1602;
$light-brown: #6D4C20;
$cream: #FFEBCD;
$green: #8F9779;
$gray: #808080;
$dark-green: #556B2F;
$soft-dark: #101010;


%banner {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
%wrapper {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

/*--------------------------*/
